<!-- TODO: Creación de las targetas que nos mostrar la infotmacion obtenida de la API -->
<div class="card mt-5" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">

    </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
